.form-wrapper {
  @include d-center;
  box-shadow: 0 0 10px $text-color;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}
.form-wrapper-inside {
  position: relative;
  width: 100%;
  height: 100%;
  @include d-center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid $text-color;
  padding: size(40) 8% size(20) 8%;
}
.form-title {
  @include form-title;
  color: $text-color;
}
.form-subtitle {
  @include form-title;
  color: $blue-main;
}
.form-text {
  @include base-text;
  line-height: size(26);
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}
.pop-trigger {
  position: fixed;
  left: 1rem;
  top: 30%;
  z-index: 99999;
  cursor: pointer;
}
.pop-trigger-wrap {
  @include d-center;
  border-radius: 50%;
  width: size(95);
  height: size(95);
  padding: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px $text-color;
}
.pop-trigger-inside {
  @include d-center;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: $blue-main;
  padding: 16px;
  img {
	width: 100%;
  }
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea {
  padding-right: 8px;
}
div.wpcf7 input[type="submit"] {
  @include base-link;
  &:hover {
	color: #ffffff;
	background-color: $text-color;
	transition: background-color .5s;
  }
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
.close-form {
  display: none;
}
//Popup
.pop-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form {
  position: relative;
  width: calc(100% - 10px);
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  &.show-float-form{
	opacity: 1;
	transform: translateY(0);
  }
  .close-form {
	display: block;
	position: absolute;
	right: 19px;
	top: 19px;
	cursor: pointer;
	img {
	  width: 16px;
	}
  }
}
