#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  @include d-center;
	  a{
		@include d-center;
		@include mid-title;
		text-align: center;
		color: #ffffff;
		padding: 0 12px;
		border-left: 1px solid #FFF;
		transition:  color .5s;
		&:hover {
		  color: $text-color;
		  transition:  color .5s;
		}
	  }
	  &:last-child a {
		border-left: none;
	  }
	}
  }
}
.logo {
  @include d-center;
  img {
	max-height: size(70);
  }
}
.tel-number {
  @include base-text;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  transition: color .5s;
}
.header-tel {
  img {
	margin-right: size(40);
  }
  &:hover .tel-number {
	color: $text-color;
	transition: color .5s;
  }
}





//Footer
#go-top {
  position: absolute;
  right: 1rem;
  top: -1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8888;
  animation: jump-top 1.2s ease-in-out alternate infinite;
  img {
	height: size(37);
	z-index: 9;
  }
}
.to-top-text {
  @include base-text;
  color: #ffffff;
  text-align: center;
}
//Footer
.footer-main {
  position: relative;
  margin-top: -2rem;
  padding: size(105) 0 size(70) 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../img/footer-bottom-back.png");
}
.foo-menu {
  padding-top: size(56);
}
.foo-title {
  @include base-text;
  color: #ffffff;
  font-size: size(23);
  margin-bottom: size(28);
}
.facebook-widget {
  overflow-x: hidden;
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 2rem;
}
footer {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	border-bottom: 1px solid #ffffff;
	margin-bottom: 10px;
	padding-right: 10px;
	&:before {
	  position: absolute;
	  top: 10px;
	  right: 0;
	  content: '';
	  width: 3px;
	  height: 5px;
	  display: inline-block;
	  border: 3px solid transparent;
	  border-right: 3px solid #fff;
	}
	a {
	  font-size: size(16);
	  line-height: size(18);
	  font-weight: 400;
	  margin-bottom: 10px;
	  color: #ffffff;
	  transition: color .5s;
	}
	a:hover {
	  color: $blue-main;
	  cursor: pointer;
	  transition: color .5s;
	}
  }
  .contact-list li {
	border-bottom: none;
	padding-right: 0;
	a {
	  display: flex;
	  align-items: center;
	}
	&:before {
	  display: none;
	}
	svg {
	  margin-left: 15px;
	  max-width: 14px;
	}
  }
}
.foo-form-block {
  padding: size(100) 0 size(60) 0;
  @include back-img;
  background-image: url("../img/footer-top-back.png");
}
.social-link {
  @include d-center;
  margin: 0 10px;
  &:first-child {
	margin-right: 0 !important;
  }
  &:last-child {
	margin-left: 0 !important;
  }
  .fab {
	color: #ffffff;
	font-size: 1rem;
	transition: color .5s;
  }
  &:hover {
	.fab {
	  color: $blue-main;
	  transition: color .5s;
	}
  }
}
