// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Pixel to REM
// =============================================================================


$base-size: 22;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


// usage: body {margin: size(20);}


// =============================================================================
// Media Query [Bootstrap 4 default queries]
// =============================================================================


@mixin extra-large-device-up {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large-device-down {
  @media (max-width: 1200px) { @content; }
}
@mixin large-device {
  @media (max-width: 992px) { @content; }
}
@mixin medium-device {
  @media (max-width: 768px) { @content; }
}
@mixin small-device {
  @media (max-width: 576px) { @content; }
}
@mixin form-title {
  font-size: size(48);
  line-height: size(34);
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
@mixin base-title {
  font-size: size(36);
  line-height: size(34);
  font-weight: 700;
  margin-bottom: 10px;
}
@mixin mid-title {
  font-size: size(30);
  line-height: size(32);
}
@mixin base-text {
  font-size: size(24);
  line-height: size(34);
  font-weight: 400;
  color: $text-color;
}
@keyframes jump {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-bottom: 1rem;
  }
}
@keyframes jump-top {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-top: -1rem;
  }
}
@mixin input-style {
  height: 24px;
  border-radius: 0;
  background-color: transparent;
  background-size: 15px;
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 20px;
  border-bottom: 2px solid $text-color;
}
@mixin input-text {
  font-size: size(16);
  line-height: size(18);
  font-weight: 400;
  color: $text-color;
  font-style: normal;
  letter-spacing: normal;
}
@keyframes rotating {
  0% {
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
  }
}
@mixin base-link {
  text-align: center;
  box-shadow: 0 0 10px rgba(75, 91, 127, 0.44);
  font-size: size(18);
  line-height: size(18);
  color: #ffffff;
  min-width: size(148);
  min-height: 25px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  background-color: $blue-main;
  padding: 3px size(24) 0 size(48);
  background-repeat: no-repeat;
  background-position: 18px;
  background-size: 15px;
  background-image: url("../iconsall/arrow-left.png");
  transition: background-color .5s;
}
@mixin overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
