.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
}
.benefit-icon-wrap {
  @include d-center;
  padding: 10px;
  width: size(190);
  height: size(190);
  border-radius: 50%;
  box-shadow: 0 0 10px $text-color;
  background-color: #fff;
  margin-bottom: 19px;
  .pop-trigger-inside {
	padding: size(35);
  }
}
.why-us-block {
  padding: size(50) 0;
}
//Repeat process
.repeat-process-block {
  padding: size(60) 0 size(170) 0;
  @include back-img;
  background-image: url("../img/process-back.png");
}
.way-subtitle {
  @include base-title;
  text-align: center;
  color: $text-color;
}
//Base slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-size: 100%;
	z-index: 33;
	top: unset;
	@include d-center;
	width: size(43);
	height: size(43);
	box-shadow: 0 0 10px $text-color;
	border-radius: 50%;
	background-color: #fff;
	bottom: -3rem;
	&:hover {
	  box-shadow: 0 0 10px $text-color !important;
	}
  }
  [dir="rtl"] .slick-next {
	left: calc(100% - 5.5rem);
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
	width: size(41);
	height: size(41);
	background-position: center;
	background-repeat: no-repeat;
	background-size: size(15);
	background-color: $blue-main;
	transition: background-color .5s;
	border-radius: 50%;
  }
  .slick-prev:hover:before, .slick-next:hover:before {
	background-color: $text-color;
	transition: background-color .5s;
  }
  [dir="rtl"] .slick-prev:before {
	background-image: url("../iconsall/arrow-right.png");
  }
  [dir="rtl"] .slick-next:before {
	background-image: url("../iconsall/arrow-left.png");
  }
}
.order-first-point {
  [dir="rtl"] .slick-next {
	left: 15px;
  }
  [dir="rtl"] .slick-prev {
	right: 15px;
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	bottom: -3.5rem;
  }
}
.reverse-slider {
  .base-slider-block {
	justify-content: flex-end;
	padding-bottom: 0 !important;
	flex-direction: row-reverse;
  }
  .slider-img-col {
	justify-content: flex-end;
	&:after {
	  right: unset;
	  left: -2px;
	  top: -2px;
	  background-image: url("../img/slider-circle-left.png");
	  background-position: left center;
	}
  }
  [dir="rtl"] .slick-next {
	left: 0;
  }
  [dir="rtl"] .slick-prev {
	right: calc(100% - 5.5rem);;
  }
  .slider-col-content {
	padding-left: 5%;
  }
}
.base-slider-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.slider-img-col {
  position: relative;
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .sl-img {
	width: 100%;
  }
  &:after {
	content: '';
	display: block;
	height: 101%;
	position: absolute;
	right: -2px;
	top: -2px;
	background-image: url("../img/slider-circle.png");
	background-position: right center;
	background-size: auto 100%;
	width: 100%;
	background-repeat: no-repeat;
  }
}
.slider-col-max {
  flex: 90%;
  max-width: 90%;
}
.slider-col-content {
  padding-right: 5%;
}

//Cards
.post-card {
  box-shadow: 1px 2px 16px 2px rgba(75, 91, 127, 0.6);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 16px;
  height: 100%;
  width: 100%;
}
.project-card {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0.5px;
  &:last-child {
	flex-grow: 1;
  }
}
.project-card-overlay {
  @include overlay;
  @include d-center;
  flex-direction: column;
  padding: 5%;
  background-color: rgba(75, 91, 127, 0.7);
}
.project-link-overlay {
  background-color: rgba(109, 207, 246, 0.7);
  flex-direction: row;
}
.project-link {
  background-image: url("../img/pro-link-back.png");
}
.post-card-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.post-img {
  border-radius: 10px;
  width: 100%;
  @include d-center;
  @include back-img;
  margin-bottom: size(28);
  &:after {
	padding-bottom: 68.6%;
	content: '';
	display: block;
  }
}
.member-img {
  &:after {
	padding-bottom: 84%;
  }
}
.post-small-img {
  &:after {
	padding-bottom: 36.2%;
  }
}
.project-img {
  position: relative;
  display: flex;
  @include back-img;
  width: 100%;
  &:after {
	content: '';
	display: block;
	padding-bottom: 34.7%;
  }
}
.post-card-title {
  color: $blue-main;
  @include mid-title;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: size(20);
}
.project-card-title {
  @include base-title;
  text-align: center;
  color: #ffffff;
}
.project-card-text {
  @include mid-title;
  text-align: center;
  color: #ffffff;
}
.basic-project-card {
  .project-card-title {
	@include mid-title;
  }
  .project-card-text {
	font-size: size(24);
	line-height: size(26);
	margin-bottom: 1.2rem;
  }
}
.post-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
