/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}

@media (min-width: 1700px) {
  html{
	font-size: 24px;
  }
  .max-padding {
	padding: 0 size(32);
  }
}
//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
  .container {
	max-width: 76%;
  }
}
@media (max-width: 1600px) {
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .pop-trigger-wrap {
	width: size(65);
	height: size(65);
	padding: 4px;
  }
  .pop-trigger-inside {
	padding: 12px;
  }
  .contact-col {
	padding: size(30) 4%;
  }
  .header-tel {
	img {
	  margin-right: size(10);
	}
  }
  #MainNav{
	ul{
	  display: flex;
	  height: 100%;
	  li{
		@include d-center;
		a{
		  font-size: size(20);
		  line-height: size(22);
		}
	  }
	}
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .pop-trigger {
	left: 8px;
  }
  .project-img {
	&:after {
	  padding-bottom: 44.7%;
	}
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  #MainNav {
	ul {
	  display: flex;
	  height: 100%;

	  li {
		a {
		  border-left: none
		}
	  }
	}
  }
  .posts-page {
	.col-post {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  }
  .foo-links-menu {
	order: 3;
  }
  .hop-hey.two-columns {
	column-count: 2;
	column-gap: 1rem;
  }
  .float-form .close-form {
	right: 9px;
	top: 9px;
  }
  #go-top {
	top: 0;
  }
  header {
	padding-right: 60px !important;
	padding-left: 60px !important;
  }
  .home-about-block {
	flex-wrap: wrap;
	justify-content: flex-end;
  }
  .about-img-wrap {
	flex: 0 0 80%;
	max-width: 80%;
	position: unset;
	left: 0;
	order: 2;
  }
  .project-img {
	&:after {
	  padding-bottom: 64.7%;
	}
  }
  .slider-img-col {
	position: relative;
	flex: 0 0 90%;
	max-width: 90%;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .form-title, .form-subtitle {
	@include base-title;
	margin-bottom: 0;
  }
  .way-subtitle {
	@include mid-title;
  }
  .bigger-link {
	@include mid-title;
	background-size: 20px;
  }
  .form-text {
	margin-bottom: 0;
  }
  .project-img {
	&:after {
	  padding-bottom: 34.7%;
	}
  }
  .project-card {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .benefit-item {
	padding: 0 1rem;
  }
  .benefit-icon-wrap {
	padding: 7px;
	width: size(130);
	height: size(130);
	.pop-trigger-inside {
	  padding: size(25);
	}
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  header {
	padding-right: 60px !important;
	padding-left: 0 !important;
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .about-img-wrap {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .project-img {
	&:after {
	  padding-bottom: 50.7%;
	}
  }
  .benefit-item {
	padding: 0 ;
  }
  .benefit-icon-wrap {
	padding: 5px;
	width: size(90);
	height: size(90);
	.pop-trigger-inside {
	  padding: 10px;
	}
  }
  .bigger-link {
	padding: 10px size(60);
  }
  .posts-page {
	.col-post {
	  flex: 0 0 90%;
	  max-width: 90%;
	}
  }
}
@media (max-width: 500px) {
  .header-tel {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	z-index: 999999;
	animation: jump 1.2s ease-in-out alternate infinite;
	img {
	  width: 3rem;
	  margin-right: 0;
	}
  }
  .tel-number {
	display: none;
  }
}






/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .posts-page {
	.col-post {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
  .benefit-col {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 2.5rem !important;
  }
  .benefit-icon-wrap {
	padding: 10px;
	width: size(190);
	height: size(190);
	.pop-trigger-inside {
	  padding: 25px;
	}
  }
  .slider-img-col {
	margin-top: 3rem;
	flex: 0 0 calc(100% - 3px);
	max-width: calc(100% - 3px);
  }
  .contact-icon-wrap {
	width: size(55);
	min-width: size(55);
	height: size(55);
	padding: 8px;
	margin-left: 10px;
  }

}
