@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header-footer";
@import "forms";
@import "partials";

body{
  font-family: Almoni, sans-serif;
  text-align: right;
  margin-top: size(70);
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  background-image: linear-gradient(to bottom, #03b6d3 0%, rgba(3, 182, 211, 0) 100%);
  padding: size(20) 0 size(100);
  z-index: 999999;
}
.wow {
  visibility: hidden;
}
.base-title {
  @include base-title;
  color: $blue-main;
}
.base-text {
  @include base-text;
}
.base-output {
  h1, h2, h3 {
	font-weight: 700;
	color: $blue-main;
  }
  h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
  }
  h1 {
	font-size: size(40);
	line-height: size(42);
  }
  h2 {
	@include base-title;
  }
  h3 {
	font-size: size(32);
	line-height: size(34);
  }
  h4, h5, h6 {
	color: $text-color;
	font-weight: 700;
  }
  h4 {
	font-size: size(28);
	line-height: size(30);
  }
  h5 {
	font-size: size(26);
	line-height: size(28);
  }
  h6 {
	font-size: size(24);
	line-height: size(26);
  }
  p, li {
	@include base-text;
  }
  p {
	margin-bottom: size(42);
  }
  ul {
	margin: 1rem 1rem 1rem 0;
	list-style: disc;
  }
}
.base-link {
  @include d-center;
  @include base-link;
  &:hover {
	color: #ffffff;
	background-color: $text-color;
	transition: background-color .5s;
  }
}
.post-link {
  padding: 3px 13px 3px 28px;
  background-position: 5px center;
  min-width: unset;
}
.block-link {
  @include d-center;
  @include base-text;
  padding-left: 25px;
  background-image: url("../iconsall/arrow-dark.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 4px center;
  transition: background-position .5s;
  &:hover {
	color: $text-color;
	background-position: 0 center;
	transition: background-position .5s;
  }
}
.bigger-link {
  border-radius: 7px;
  border: 5px solid #fff;
  font-size: size(36);
  line-height: size(34);
  background-size: size(29);
  background-position: size(24);
  min-height: size(61);
  padding: 10px size(90);
}
//homepage
.home-main {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/main-img.png");
}
.bottom-line {
  position: absolute;
  bottom: -5px;
  width: 100%;
  right: 0;
  z-index: 4;
}
.home-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: size(90) 0;
  min-height: size(500);
  background-color: rgba(0, 0, 0, 0.3);
}
.p-100 {
  padding: size(100) 0;
}
.home-about-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img-wrap {
  flex: 0 0 60%;
  max-width: 60%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form-and-benefits {
  background-image: url("../img/form-benefits-back.png");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}
.block-output {
  padding: size(50) 0;
}
.projects-output {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.m-70 {
  margin: size(70) 0;
}
//Contact page
.contact-type {
  @include mid-title;
  font-weight: 700;
  color: $text-color;
  transition: color .5s;
  &:hover {
	color: $blue-main;
	transition: color .5s;
  }
}
.contact-info {
  display: flex;
  align-items: center;
}
.contact-item {
  display: flex;
  margin-bottom: size(40);
  &:last-child {
	margin-bottom: 0;
  }
}
.contact-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: size(60) 8%;
}
.contact-icon-wrap {
  @include d-center;
  border-radius: 50%;
  width: size(70);
  min-width: size(70);
  height: size(70);
  background-color: $blue-main;
  padding: size(14);
  margin-left: size(35);
  img {
	max-height: 100%;
  }
}
.map-image {
  display: flex;
  @include back-img;
  height: 350px;
}
//Blog
.more-link {
  @include d-center;
  padding: 3px 14px 3px 28px;
  min-width: size(153);
  min-height: size(27);
  border-radius: 5px;
  border: 2px solid $blue-main;
  background-color: #ffffff;
  background-image: url("../iconsall/down-arrow.png");
  background-size: 13px;
  background-position: 10px center;
  background-repeat: no-repeat;
  margin: 20px 0;
  color: $blue-main;
  font-size: size(18);
  line-height: size(20);
  text-align: center;
  transition: color, background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $blue-main;
	transition: color, background-color .5s;
  }
  &.hide {
	display: none;
  }
}
//Single.php
.order-first-point {
  height: 100%;
  position: sticky;
  top: 0;
}
.sticky-form {
  position: sticky;
  top: 0;
  z-index: 999;
  //height: 100%;
}
.link-post-save {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
	margin-left: size(11);
	width: size(33);
  }
  span {
	font-size: size(24);
	line-height: size(24);
	color: $blue-main;
	transition: color .5s;
  }
  &:hover {
	span {
	  color: $text-color;
	  transition: color .5s;
	}
  }
}
.slider-picture {
  @include d-center;
  box-shadow: 0 0 10px $text-color;
  border-radius: 5px;
  margin: 10px;
  @include back-img;
  &:after {
	content: '';
	display: block;
	padding-bottom: 50%;
  }
}
.gallery-slider {
  margin-bottom: 4rem;
}
.page-body {
  padding-top: size(80);
}
//Process page
.process-page-back {
  background-image: url("../img/process-page-back.png");
  @include back-img;
  .form-wrapper {
	margin: 10px;
	padding: size(34);
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next,
  .slick-dots {
	bottom: 2.5rem;
  }
  [dir="rtl"] .slick-next {
	left: calc(100% - 7.5rem);
  }
  [dir="rtl"] .slick-prev {
	right: 2rem;
  }
}
.slide-process-img {
  border-radius: 5px;
  width: 100%;
}
.process-slide-output p {
  font-weight: 700;
}
.card-member-col {
  display: none;
  &.show-col {
	display: block;
  }
}

@import "responsive";
